 
 header.hero {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    background: url("../images/gummibear.jpg") center center;
    background-size: cover;
    z-index: 0;
}

header.hero nav {
    color: white;
    display: flex;
    position: relative;
    z-index: 1;
    padding: 3rem;
}

header.hero nav .brand {
      display: flex;
      position: relative;
      flex: 70%;
      z-index: 1;
}

header.hero nav ul{
    flex: 70%;
    list-style: none;
    display: flex;
}

header.hero nav ul li a {
    background: #ff0aa3
}

header.hero nav ul li a {
    padding: 1rem 1.5rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;  
}

header.hero .cta {
    padding: 3rem;
    position: relative;
    z-index: 1;

}

header.hero h1
header.hero p,{
  width: 650px;
  font-size: 8px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: white;
  z-index: 1;
  font: Gobold;


}

header.hero h1 {
  color: white;
  font-size: 50px;
  font: Gobold;
  
}

header.hero p{
  color: white;
  font-size: 20px;
  font: Futura;
  text-shadow: pink;
}

header.hero .btn {
  background: #fffc00;
  color: #ff0aa3;
  font-size: 25px;
  padding: 0.5rem;
  text-decoration: none;
}

header.hero h2, {
  width: 650px;
  font-size: 8px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: white;
  z-index: 1;

}

header.iframe {
  border: 0;
  width: 5000vw;
  height: 320px;
}

header.hero::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #00ffff, #00ffff);
    opacity: .5;
    z-index: 0;
}

@media screen. and (max-width: 480px) {
    header.hero nav {
      display:block;
    }

    header.hero nav .brand img {
      max-width: 100%;
    }

    header.hero nav ul {
      margin: 0;
      flex: none;
      padding: 0;
    }

    header.hero nav ul li a {
      padding: 1rem  0.3rem;
      font-size: 12px;
      font-weight: bold;
      display: flex-none;
    }

    header.hero h1 {
      font-size: 40px;
      line-height: 10px;

    }

    header.hero .btn {
      background: #fffc00;
      color: #ff0aa3;
      font-size: 25px;
      padding: 0.5rem;
      text-decoration: none;
      border-radius: 42px;

    }

footer {
    background: #fffc00;
}
